@import "../../global_styles/global.scss";

.pagination {
  list-style: none;
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;

  .hidden {
    display: none;
  }

  li {
    font-size: 1rem;
    border: 1px solid #ccc;
    min-width: 2.4rem;
    height: 2.4rem;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 0.2rem;
    font-weight: 500;
  }
  p {
    margin-left: 1rem;
    .page {
      color: $mainColor;
    }
  }
}
.active {
  background-color: $mainColor;
  color: #fff;
}
