@mixin container() {
  max-width: 1300px;
  width: 85%;
  margin: auto;
  @include mQ(600px) {
    width: 90%;
  }
}

@mixin flexBox($justify, $align, $direction) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
}

@mixin grid($tempCol, $gap) {
  display: grid;
  grid-template-columns: $tempCol;
  gap: $gap;
}

@mixin button {
  font-size: 1rem;
  font-weight: 400;
  padding: 4px 6px;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  font-family: "Mukta", sans-serif;
  @include mQ(500px) {
    font-size: 0.9rem;
  }
}

@mixin mQ($respond) {
  @media (max-width: $respond) {
    @content;
  }
}

$mainColor: #ae8625;
$box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

a {
  transition: none;
}

a.active {
  background-color: #fff;
  border: 0;
  color: #333;
  padding-left: 0;
  margin-bottom: 0;
}

label {
  display: block;
}
