@import "../../global_styles/global.scss";

.briefing {
  padding-top: 3rem;
  @include container();
  .briefing__grid {
    @include grid(repeat(3, 1fr), 1rem);
    background: rgb(248, 248, 248);
    box-shadow: $box-shadow;
    padding: 1rem;
    text-align: center;
    border: 0.3px solid rgb(230, 227, 227);
    border-radius: 0.6rem;
    .icon_b {
      font-size: 5rem;
      color: #333;
    }
    h3 {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
}

@include mQ(900px) {
  .briefing .briefing__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .briefing .briefing__grid .icon_b {
    font-size: 4.5rem;
  }
}
@include mQ(600px) {
  .briefing .briefing__grid {
    grid-template-columns: 1fr;
  }
  .briefing .briefing__grid .icon_b {
    font-size: 3.9rem;
    margin-top: 0.2rem;
  }
  .briefing .briefing__grid a {
    border-top: 1px solid rgb(227, 227, 227);
  }
}
@include mQ(500px) {
  .briefing .briefing__grid .icon_b {
    font-size: 3rem;
  }
}
