@import "../../global_styles/global.scss";

.auth__modal {
  @include flexBox(center, center, column);
  background: #fff;
  height: 100vh;
  .login__contents {
    img {
      height: 70px;
      width: 70px;
      border-radius: 50%;
    }
  }
  .signup__contents {
    img {
      height: 70px;
      width: 70px;
      border-radius: 50%;
    }
  }
  .verify__contents {
    @include flexBox(center, center, column);
    img {
      text-align: center;
      height: 70px;
      width: 70px;
      border-radius: 50%;
      margin-bottom: 1rem;
    }
  }
  .reset__contents {
    // animation: slide-down 0.5s ease;
    h2 {
      text-align: center;
      margin-bottom: 0.6rem;
    }
    .reset__logo {
      @include flexBox(center, center, row);
      img {
        text-align: center;
        height: 70px;
        width: 70px;
        border-radius: 50%;
      }
    }
  }

  .auth__contents {
    background: rgb(241, 241, 241);
    width: 400px;
    height: auto;
    padding: 1rem;
    position: relative;
    // @include container();

    .close__icon {
      position: absolute;
      right: 1rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
    .logo {
      text-align: center;
    }
    form {
      // @include container();
      line-height: 0;
      label {
        line-height: 2;
        margin-bottom: 0.4rem;
        span {
          font-weight: 600;
        }
        input {
          padding: 0.7rem;
          width: 100%;
          border-radius: 0.3rem;
          // border: 1px solid #333;
          border: 0;
          outline: 0;
          font-size: 1rem;
          margin-bottom: 0;
          background: transparent;
        }
      }
      .name {
        display: flex;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        input {
          padding: 0.5rem;
          margin-bottom: 0.3rem;
        }
      }
      .btn {
        @include button();
      }
      .submit__btn {
        width: 100%;
        margin-top: 0.8rem;
        background: $mainColor;
        border-radius: 1rem;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 700;
        &:hover {
          background: #c99b2f;
        }
      }
    }
    .btn {
      @include button();
      border-radius: 1rem;
      width: 100%;
    }
    .google__btn {
      margin-top: 1.6rem;
      margin-bottom: 1.2rem;
      background: #fff;
      color: #333;
      border: 1px solid rgb(148, 148, 148);
      @include flexBox(center, center, row);
      gap: 1rem;
      &:hover {
        background: #e7e7e7;
      }
      :first-child {
        font-size: 1.5rem;
      }
    }
    .facebook__btn {
      @include flexBox(center, center, row);
      gap: 1rem;
      color: #fff;
      background: rgb(24, 119, 242);
      border: 1px solid rgb(24, 119, 242);
      margin-bottom: 1rem;
      &:hover {
        background: rgb(15, 104, 220);
      }
      :first-child {
        font-size: 1.3rem;
        color: #fff;
      }
    }
    .line {
      background: rgb(192, 190, 190);
      height: 0.1rem;
      width: 100%;
      margin-top: 2rem;
      position: relative;
    }
    .or {
      position: absolute;
      left: 45%;
      top: -12px;
      background: rgb(241, 241, 241);
      padding: 0 0.4rem;
    }
    .reset__password {
      text-align: center;
      margin-top: 0.4rem;
      text-decoration: underline;
    }
    .reset__info {
      background: rgb(244, 244, 244);
      border-left: 3px solid $mainColor;
      padding: 0.5rem;
      line-height: 1.5;
    }
    .reset__password__input {
      margin-top: 1rem;
      input {
        padding: 0.5rem;
        width: 100%;
        border-radius: 0.3rem;
        border: 1px solid #333;
        outline: 0;
        font-size: 1.1rem;
      }
      .reset__password__btn {
        @include button();
        width: 100%;
        background: $mainColor;
        color: #fff;
        margin-top: 0.4rem;
        font-size: 1.2rem;
        font-weight: 700;
      }
    }
    .password__visibility__toggler {
      @include flexBox(center, center, row);
      border: 1px solid #333;
      border-radius: 0.3rem;
      gap: 0.4rem;
      padding: 0 0.8rem;
      :first-child {
        font-size: 1.4rem;
        display: block;
      }
      input {
        border: 0;
      }
      span {
        cursor: pointer;
      }
    }
    .auth__icon {
      display: flex;
      border: 1px solid rgb(67, 67, 67);
      @include flexBox(flex-start, center, row);
      border-radius: 0.3rem;
      padding: 0 0.8rem;
      :first-child {
        font-size: 1.4rem;
        color: #000;
      }
    }

    .new__user {
      text-align: center;
      margin-top: 1.2rem;
      font-weight: 600;
      a {
        .signup__btn {
          width: 60%;
          margin-top: 0.8rem;
          background: #111;
          font-weight: 700;
          border-radius: 1rem;
          font-size: 1.1rem;
        }
      }
    }
    .verification__message {
      background: #f8f8f8;
      border-left: 3px solid $mainColor;
      padding: 0.3rem;
    }
    .buttons {
      width: 100%;
      display: block;
      .refresh__btn {
        @include button();
        text-align: center;
        background-color: #111;
        border: 1px solid #111;
        color: #fff;
        font-size: 1.1rem;
        font-weight: 700;
        &:hover {
          background: #333;
        }
      }
      .refresh__btn {
        width: 100%;
      }
      .resend {
        button {
          @include button();
          width: 100%;
          background: #fff;
          border: 1px solid rgb(148, 148, 148);
          margin-top: 0.5rem;
          color: #333;
          font-size: 1.1rem;
          font-weight: 700;
          &:hover {
            background: #e7e7e7;
          }
        }
      }
    }
    .info {
      line-height: 1.3;
      margin-top: 1rem;
      background: #b39e6f;
      color: #fff;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
  }
  .back__to__login {
    @include flexBox(center, center, auto);
    text-decoration: underline;
    margin-top: 0.5rem;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(-5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .auth__modal .auth__contents {
    width: "";
    height: "";
  }
}

@include mQ(500px) {
  .auth__modal .auth__contents {
    width: 100%;
    background: #fff;
  }
  .auth__modal .auth__contents .or {
    background: #fff;
  }
  .auth__modal .auth__contents .close__icon {
    top: 2rem;
    right: 1rem;
  }
  .auth__modal .auth__contents form label input {
    font-size: 1rem;
  }
  .auth__modal .auth__contents .buttons .refresh__btn {
    background-color: #111;
    color: #fff;
    font-size: 1.1rem;
  }
  .auth__modal .auth__contents .buttons .resend button {
    font-size: 1.1rem;
}
  .auth__modal .auth__contents .google__btn {
    font-size: 1rem;
  }
  .auth__modal .auth__contents .reset__password__input .reset__password__btn {
    font-size: 1.2rem;
    font-weight: 700;
  }
}
