@import "../../global_styles/global.scss";

.some__blog__posts {
  @include container();
  margin-top: 6rem;
  // background: rgb(248, 248, 248);
  padding: 1rem;
  h1 {
    @include flexBox(flex-start, center, row);
    gap: 0.2rem;
    font-size: 1.7rem;
    :first-child {
      color: #717171;
    }
  }
  .p_grid {
    @include grid(repeat(4, 1fr), 0.9rem);
    .some__posts__det {
      margin-top: 1rem;
      box-shadow: $box-shadow;
      border-radius: 0.3rem;
      overflow: hidden;
      .s_img {
        position: relative;
        img {
          width: 100%;
          height: 230px;
          object-fit: cover;
          border: 0.5px solid rgb(200, 200, 200);
          overflow: hidden;
        }
        p {
          position: absolute;
          top: 8px;
          left: 5px;
          background: $mainColor;
          color: #fff;
          border-radius: 0.1rem;
          padding: 0.2rem 0.4rem;
          font-weight: 700;
        }
        b {
          position: absolute;
          bottom: 0rem;
          right: 1rem;
          font-size: 2rem;
          color: #fff;
          height: fit-content;
        }
      }
      .s_content {
        padding: 0.4rem 0.8rem 1rem 0.8rem;
        h3 {
          font-size: 1.2rem;
          margin-bottom: 0.7rem;
        }
        .b_content {
          @include flexBox(space-between, center, row);
          color: rgb(126, 126, 126);
          p {
            font-size: 0.9rem;
            @include flexBox(flex-start, center, row);
            gap: 0.2rem;
          }
        }
      }
    }
  }
}
.refine__search {
  background: url("../../assets/refine.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  text-align: center;
  position: relative;
  z-index: 1;
  color: #fff;
  margin-top: 5rem;
  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
  }
  .refine__search__contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 640px;
    p {
      margin: 1rem 0;
      font-size: 1.1rem;
    }
    button {
      @include button();
      padding: 0.6rem 01rem;
      font-weight: 700;
      color: #333;
    }
  }
}

@include mQ(1400px) {
  .some__blog__posts .p_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .refine__search .refine__search__contents {
    width: max-content;
  }
  .refine__search .refine__search__contents p {
    margin: 1.5rem 0;
  }
}

@include mQ(850px) {
  .some__blog__posts .p_grid {
    grid-template-columns: 1fr;
  }
  .some__blog__posts .p_grid .some__posts__det .s_img img {
    height: 200px;
  }
  .refine__search {
    min-height: 31vh;
  }
}

@include mQ(600px) {
  .refine__search .refine__search__contents h2 {
    font-size: 1.2rem;
  }
  .refine__search .refine__search__contents p {
    font-size: 1rem;
  }
  .refine__search .refine__search__contents {
    max-width: 344px;
  }
  .refine__search {
    min-height: 45vh;
  }
  .some__blog__posts .p_grid .some__posts__det .s_content h3 {
    font-size: 1rem;
  }
  .some__blog__posts h1 {
    font-size: 1.2rem;
  }
  .some__blog__posts .p_grid .some__posts__det .s_content .b_content p {
    font-size: 0.8rem;
  }
}

@include mQ(350px) {
  .refine__search {
    min-height: 40vh;
  }
  .refine__search .refine__search__contents {
    max-width: 251px;
  }
}
