@import "../../global_styles//global.scss";

.properties {
  @include container();
  padding-top: 3rem;
  h2 {
    @include flexBox(flex-start, center, row);
    gap: 0.4rem;
    font-size: 1.7rem;
    :first-child {
      color: #717171;
    }
  }
  a {
    color: #666;
    display: inline;
    text-decoration: underline;
  }
  .properties__contents {
    @include grid(repeat(4, 1fr), 0.5rem);
    margin-top: 1rem;
    .properties__details {
      .properties__details__image {
        position: relative;
        img {
          width: 100%;
          height: 230px;
          object-fit: cover;
          border-radius: 0.6rem;
          border: 0.5px solid rgb(200, 200, 200);
          transition: transform 0.3s ease-in-out;
        }
        .property__availability {
          position: absolute;
          top: 20px;
          left: 20px;
          color: #fff;
          border-radius: 0.2rem;
          padding: 0.09rem 0.9rem;
          font-weight: 500;
        }
        // .like__property {
        //   position: absolute;
        //   bottom: 20px;
        //   right: 16px;
        //   font-weight: 500;
        //   font-size: 2rem;
        //   color: #fff;
        //   cursor: pointer;
        // }
        .camera__icon {
          position: absolute;
          bottom: 20px;
          right: 16px;
          font-weight: 500;
          font-size: 1.3rem;
          color: #fff;
          cursor: pointer;
          background: rgba(0, 0, 0, 0.5);
          padding: 0.1rem 0.6rem;
          border-radius: 0.2rem;
          @include flexBox(flex-start, center, center);
          gap: 0.3rem;
          :last-child {
            font-size: 1rem;
            font-weight: 500;
          }
        }
        .exclusive__image__wrapper {
          position: relative;
        }
        .view__in__detail {
          position: absolute;
          color: #fff;
          font-size: 3rem;
          bottom: 1rem;
          right: 1rem;
          padding: 0.1rem 0.6rem;
          border-radius: 0.4rem;
          background: rgba(0, 0, 0, 0.5);
        }
      }
      .properties__details__texts {
        line-height: 1.9;
        .property__name {
          font-weight: 700;
          font-size: 1.15rem;
          color: #000;
          @include flexBox(space-between, center, row);
        }
        .property__price {
          @include flexBox(flex-start, center, row);
          span {
            font-size: 1.2rem;
            font-weight: 700;
            color: #000;
          }
        }
        .property__id,
        .property__location {
          color: #717171;
          @include flexBox(flex-start, center, center);
          gap: 0.3rem;
        }
      }
      &:hover {
        img {
          transform: scale(1.02);
        }
      }
    }
  }
}

@include mQ(1200px) {
  .properties .properties__contents {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.4rem;
  }
}

@include mQ(500px) {
  .properties .properties__contents {
    grid-template-columns: 1fr;
    row-gap: 1.4rem;
  }
  .properties .exclusive__contents {
    margin-bottom: 5rem;
  }
  .properties .exclusive__contents {
    display: flex;
    overflow-x: auto;
  }
  .properties .exclusive__contents::-webkit-scrollbar {
    display: none;
  }
  .properties
    .properties__contents
    .properties__details
    .properties__details__image
    img {
    height: 200px;
  }
  .properties .exclusive__contents .properties__details .exclusive {
    position: relative;
    width: 295px;
  }
  .properties
    .properties__contents
    .properties__details
    .properties__details__texts
    .property__name {
    font-size: 1rem;
  }
  .properties
    .properties__contents
    .properties__details
    .properties__details__texts {
    font-size: 0.8rem;
  }
  .properties
    .properties__contents
    .properties__details
    .properties__details__texts
    .property__price
    span {
    font-size: 1rem;
  }
  .properties
    .properties__contents
    .properties__details
    .properties__details__texts
    .property__id{
    font-size: 0.9rem;
  }
}

@include mQ(420px) {
  .properties h2 {
    margin-bottom: -5px;
    font-size: 1.2rem;
  }
  .properties a {
    font-size: 0.9rem;
  }
}

@include mQ(350px) {
  .properties .exclusive__contents .properties__details .exclusive {
    position: relative;
    width: 215px;
  }
}
