@import "../../global_styles/global.scss";

.custom__alert {
  height: auto;
  z-index: 3000000000;
  text-align: center;
  font-size: 1.3rem;
  transition: all 0.5s ease;
  animation: slide-right 0.5s ease;
  padding: 0.5rem 0;
  p {
    @include flexBox(center, center, row);
    gap: 0.2rem;
    font-size: 1rem;
    font-weight: 700;
  }
}

@include mQ(500px) {
  .custom__alert {
    animation: none;
  }
  .custom__alert p {
    font-size: 0.85rem;
    padding: 0rem 0;
  }
}
