@import "../../global_styles/global.scss";

.fix {
  position: fixed;
  top: 59px;
  right: 0;
  width: 100%;
  z-index: 9;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 1rem;
  @include flexBox(space-between, center, row);
}

.property__details {
  width: 100%;
  padding-top: 2rem;
  min-height: 100vh;
  .details__links {
    @include container();
    @include flexBox(flex-start, center, center);
    gap: 0.3rem;
    padding-bottom: 0.8rem;
    a {
      color: #555;
    }
    :last-child {
      font-weight: 500;
    }
  }
}
.property__details__contents {
  @include container();
  display: flex;
  gap: 1rem;
  .left__contents {
    width: 70%;
    animation: slide-right 0.5s ease;
    .left__contents__card {
      box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      margin-bottom: 1rem;
      transition: 0.2s ease-in-out;
      @include flexBox(space-between, center, row);
      .card__name {
        h2 {
          font-weight: 700;
          color: $mainColor;
        }
      }
      .property__location {
        @include flexBox(flex-start, center, row);
        gap: 0.2rem;
        :first-child {
          color: $mainColor;
          font-size: 1.4rem;
        }
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
    .other__details {
      line-height: 2.9;
      p,
      span {
        @include flexBox(flex-start, center, center);
        gap: 0.3rem;
        :first-child {
          color: $mainColor;
          font-size: 1.4rem;
        }
      }
      .copy__btn {
        @include button();
        background: #222;
        color: #fff;
        border-radius: 0.2rem;
        padding: 0.1rem 0.2rem;
        margin-bottom: 0.8rem;
        font-weight: 600;
      }
      .details__warning {
        @include flexBox(flex-start, center, center);
        // width: fit-content;
        gap: 0.6rem;
        background: rgb(193, 180, 100);
        color: #fff;
        padding: 0.1rem 0.4rem;
        border-radius: 0.3rem;
        margin-bottom: 0.3rem;
        font-weight: 600;
        font-size: 0.9rem;
        :first-child {
          color: #fff;
        }
      }
    }
    .property__details__images {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      padding-top: 1rem;
      column-gap: 0.5rem;
      margin-top: 2rem;
      img {
        width: 100%;
        height: 280px;
        object-fit: cover;
        object-fit: cover;
        border-radius: 0.5rem;
      }
    }
    .property__features {
      padding-top: 1rem;
      h2 {
        padding-bottom: 0.5rem;
      }
      .flex__features {
        @include grid(repeat(3, 1fr), 1rem);
        ul {
          li {
            @include flexBox(flex-start, center, row);
            gap: 0.3rem;
            list-style: none;
            :first-child {
              font-size: 1.4rem;
              color: $mainColor;
            }
          }
        }
      }
    }
    .property__description {
      padding: 2rem 0;
      line-height: 1.9;
      h2 {
        @include flexBox(flex-start, center, center);
        gap: 0.3rem;
        margin-bottom: 0.5rem;
        :first-child {
          color: #888;
        }
      }
    }
    .contact__info {
      padding-bottom: 2rem;
      .contact__info__details {
        h2 {
          @include flexBox(flex-start, center, center);
          gap: 0.3rem;
        }
        .admins {
          @include flexBox(auto, center, center);
          gap: 5rem;
          padding-top: 1.5rem;
          .admin__image__wrapper {
            position: relative;
          }
          img {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 1rem;
            position: relative;
          }
          a {
            @include flexBox(flex-start, center, row);
            display: block;
            margin-bottom: 0.4rem;
            border: 1px solid #777;
            border-radius: 0.3rem;
            padding: 0.3rem 0.5rem;
            :first-child {
              font-size: 2rem;
              margin-right: 0.7rem;
            }
            :last-child {
              font-weight: 700;
              font-size: 1.1rem;
            }
          }
          .admin__fallback__icon {
            font-size: 6rem;
          }
          .whatsapp {
            @include flexBox(flex-start, center, row);
            padding: 0.45rem 1.6rem;
            background: rgb(26, 28, 26);
            color: #fff;
            border: 0;
            outline: 0;
            border-radius: 0.3rem;
            font-weight: 700;
            cursor: pointer;
            :first-child {
              font-size: 1.5rem;
              margin-right: 0.7rem;
            }
          }
          .verified__icon {
            position: absolute;
            color: $mainColor;
            font-size: 1.2rem;
          }
        }
      }
      // position: fixed;
      // bottom: 0;
    }
  }
  .right__contents {
    width: 35%;
    animation: slide-left 0.5s ease;
    height: -webkit-fill-available;
    background: rgb(240, 240, 240);
    padding: 1.5rem 1rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    h3 {
      text-align: center;
      margin-bottom: 0.7rem;
    }
    form {
      label {
        @include flexBox(flex-start, center, center);
        gap: 0.7rem;
        border: 1px solid #555;
        border-radius: 0.2rem;
        background: #fff;
        margin-bottom: 0.4rem;
        :first-child {
          margin-left: 0.4rem;
        }
        input,
        textarea {
          border: 0;
          outline: 0;
          padding: 0.8rem;
          background: transparent;
        }
        textarea {
          font-family: "Figtree", sans-serif;
          line-height: 1.7;
          word-spacing: 0.2rem;
          width: 100%;
        }
      }
      button {
        @include button();
        border-radius: 0.2rem;
        background: $mainColor;
        color: #fff;
        width: 100%;
        margin-bottom: 0.6rem;
        font-weight: 700;
      }
    }
  }
}

@include mQ(1000px) {
  .property__details {
    margin-bottom: 5rem;
  }
  .property__details__contents {
    flex-direction: column;
  }
  .property__details__contents .left__contents {
    width: 100%;
  }
  .property__details__contents .right__contents {
    width: 100%;
  }
  .property__details__contents .left__contents .property__details__images {
    grid-template-columns: repeat(2, 1fr);
  }
  .property__details__contents .left__contents .contact__info,
  .contact__info__details {
    bottom: 4rem;
  }
}
@include mQ(600px) {
  .property__details__contents .left__contents .left__contents__card {
    flex-direction: column;
    display: block;
    line-height: 2;
    font-size: 0.9rem;
  }
  .property__details .details__links {
    font-size: 0.9rem;
  }
  .property__details .details__links :last-child {
    font-size: 0.88rem;
  }
  .property__details__contents
    .left__contents
    .left__contents__card
    .card__name
    h2 {
    font-size: 1.15rem;
  }
  .property__details__contents
    .left__contents
    .left__contents__card
    .property__location {
    font-size: 1rem;
  }
  .property__details__contents .left__contents .property__details__images {
    display: flex;
    overflow-x: auto;
    margin-top: 2rem;
  }
  .property__details__contents .left__contents .property__details__images img {
    width: 295px;
  }
  .property__details__contents .left__contents .property__features h2 {
    font-size: 1.25rem;
  }
  .property__details__contents
    .left__contents
    .property__features
    .flex__features {
    grid-template-columns: 1fr;
  }
  .property__details__contents .left__contents .property__description h2 {
    font-size: 1.25rem;
  }
  .property__details__contents .right__contents form {
    font-size: 1.4rem;
  }
  .property__details__contents .right__contents form label input,
  .property__details__contents .right__contents form label textarea {
    font-size: 1rem;
  }
  .property__details__contents .right__contents form p {
    font-size: 0.8rem;
  }
  .property__details__contents .right__contents {
    height: auto;
    border-radius: 0.3rem;
  }
  .property__details__contents .right__contents form button {
    font-size: 1rem;
  }
  .property__details__contents
    .left__contents
    .other__details
    .details__warning {
    padding: 0.2rem 0.4rem;
    line-height: 1.3rem;
    font-size: 0.8rem;
  }
}

@include mQ(500px) {
  .property__details__contents
    .left__contents
    .contact__info
    .contact__info__details
    .admins {
    gap: 1rem;
  }
  .property__details__contents
    .left__contents
    .contact__info
    .contact__info__details
    h2 {
    font-size: 1.25rem;
  }
  .property__details__contents
    .left__contents
    .contact__info
    .contact__info__details
    .admins
    a {
    font-size: 0.9rem;
  }
  // .property__details__contents
  //   .left__contents
  //   .contact__info
  //   .contact__info__details
  //   .admins
  //   .whatsapp {
  //   font-size: 0.7rem;
  // }
  .property__details__contents
    .left__contents
    .contact__info
    .contact__info__details
    .admins
    .whatsapp
    :first-child {
    font-size: 1.3rem;
  }
}

//  ==================
.images__wrapper {
  width: 100%;
}
.slider {
  // background: url('../../assets//loader.gif');
  // background-position: center center;
  // background-size: auto;
  // background-repeat: no-repeat;
  .slide {
    img {
      height: 400px;
      width: 700px;
      object-fit: cover;
      position: relative;
    }
  }
}

.arrow {
  font-size: 2.1rem;
  cursor: pointer;
  color: $mainColor;
  font-weight: 700;
}

hr {
  height: 2px;
  background: white;
  width: 50%;
}

@keyframes slide-up {
  0% {
    visibility: visible;
    top: 23rem;
  }
  100% {
    visibility: visible;
    top: 17rem;
  }
}

@media screen and (min-width: 600px) {
  .slide img {
    width: 100%;
    height: 100%;
  }
}
