@import "../../global_styles/global.scss";

.fix {
  position: fixed;
  top: 59px;
  right: 0;
  width: 100%;
  z-index: 9;
  box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  padding: 1rem;
  @include flexBox(space-around, center, row);
}

//  .popup {
//     position: fixed;
//     background: rgba(0, 0, 0, 0.8);
//     width: 100vw;
//     height: 100%;
//   }

.property__details {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 8rem;
  min-height: 100vh;
  z-index: 200;
  .contacts__bottom__wrapper {
    box-shadow: $box-shadow;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    border-top: 0.2px solid rgb(164, 164, 164);
    z-index: 1000000000;
    .contacts__bottom {
      @include container();
      @include flexBox(space-between, center, center);
      padding: 1rem 0;
      .single__item {
        @include flexBox(space-between, center, center);
        gap: 0.3rem;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        button {
          @include button();
          background: transparent;
          color: #222;
          border: 1px solid #222;
          padding: 0.3rem 1rem;
          outline: 0;
          font-weight: 700;
          border-radius: 0.3rem;
        }
      }
    }
  }

  .details__links {
    @include container();
    @include flexBox(flex-start, center, center);
    gap: 0.3rem;
    padding-bottom: 0.8rem;
    font-weight: 700;
    a {
      color: #555;
    }
    :last-child {
      font-weight: 700;
    }
  }
}
.property__details__contents {
  @include container();
  display: flex;
  gap: 1rem;
  .left__contents {
    width: 70%;
    .property__details__images {
      // display: grid;
      // grid-template-columns: repeat(3, 1fr);
      display: flex;
      overflow-x: auto;
      column-gap: 0.5rem;
      position: relative;
      cursor: pointer;
      .image__length {
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 0.6rem;
        min-width: 80px;
        font-weight: 700;
      }
      img {
        width: 450px;
        height: 280px;
      }
    }
    .left__contents__card {
      box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.1);
      padding: 1rem;
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
      @include flexBox(space-between, center, row);
      .card__name {
        h2 {
          font-weight: 700;
          color: $mainColor;
        }
      }
      .property__location {
        @include flexBox(flex-start, center, row);
        gap: 0.2rem;
        :first-child {
          color: $mainColor;
          font-size: 1.4rem;
        }
        font-size: 1.2rem;
        font-weight: 600;
      }
    }
    .other__details {
      line-height: 2.9;
      border-bottom: .1px solid rgb(190, 190, 190);
      padding-bottom: .9rem;
      p,
      span {
        @include flexBox(flex-start, center, center);
        gap: 0.3rem;
        :first-child {
          color: $mainColor;
          font-size: 1.4rem;
        }
      }
      .copy__btn {
        @include button();
        background: #222;
        color: #fff;
        border-radius: 0.2rem;
        padding: 0.1rem 0.2rem;
        margin-bottom: 0.8rem;
        font-weight: 600;
      }
      .details__warning {
        @include flexBox(flex-start, center, center);
        // width: fit-content;
        gap: 0.6rem;
        background: rgb(193, 180, 100);
        color: #fff;
        padding: 0.1rem 0.4rem;
        border-radius: 0.3rem;
        margin-bottom: 0.3rem;
        font-weight: 600;
        font-size: 0.9rem;
        :first-child {
          color: #fff;
        }
      }
    }
   
    .property__features {
      padding-top: 1.3rem;
      padding-bottom: 1.3rem;
      border-bottom: .1px solid rgb(190, 190, 190);
      h2 {
        padding-bottom: 0.9rem;
      }
      .flex__features {
        @include grid(repeat(2, 1fr), 1rem);
        ul {
          li {
            @include flexBox(flex-start, center, row);
            gap: 0.3rem;
            list-style: none;
            :first-child {
              font-size: 1.4rem;
              color: $mainColor;
            }
          }
        }
      }
    }
    .property__description {
      padding: 2rem 0;
      line-height: 1.9;
      border-bottom: .1px solid rgb(190, 190, 190);
      h2 {
        @include flexBox(flex-start, center, center);
        gap: 0.3rem;
        margin-bottom: 0.5rem;
        :first-child {
          color: #888;
        }
      }
    }
    .contact__info {
      padding: 2.5rem 0;
      .contact__info__details {
        h2 {
          @include flexBox(flex-start, center, center);
          gap: 0.3rem;
        }
        .admins {
          @include flexBox(auto, center, center);
          gap: 5rem;
          padding-top: 1.5rem;
          .admin__image__wrapper {
            position: relative;
          }
          img {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 1rem;
            position: relative;
          }
          a {
            @include flexBox(flex-start, center, row);
            display: block;
            margin-bottom: 0.4rem;
            border: 1px solid #333;
            border-radius: 0.3rem;
            color: #333;
            padding: 0.3rem 0.5rem;
            font-weight: 700;
            :first-child {
              font-size: 2rem;
              margin-right: 0.7rem;
            }
            :last-child {
              font-weight: 700;
              font-size: 1.1rem;
            }
          }
          .admin__fallback__icon {
            font-size: 6rem;
          }
          .whatsapp {
            @include flexBox(flex-start, center, row);
            padding: 0.45rem 1.9rem;
            background: #222;
            color: #fff;
            border: 0;
            outline: 0;
            border-radius: 0.3rem;
            font-weight: 700;
            cursor: pointer;
            :first-child {
              font-size: 1.5rem;
              margin-right: 0.2rem;
            }
          }
          .verified__icon {
            position: absolute;
            color: $mainColor;
            font-size: 1.2rem;
          }
        }
      }
      // position: fixed;
      // bottom: 0;
    }
  }
  .right__contents {
    width: 35%;
    // animation: slide-left 0.5s ease;
    height: -webkit-fill-available;
    background: rgb(240, 240, 240);
    padding: 1.5rem 1rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    h3 {
      text-align: center;
      margin-bottom: 0.7rem;
    }
    form {
      label {
        @include flexBox(flex-start, center, center);
        gap: 0.7rem;
        border: 1px solid #555;
        border-radius: 0.2rem;
        background: #fff;
        margin-bottom: 0.4rem;
        padding: .4rem;
        :first-child {
          margin-left: 0.4rem;
        }
        input,
        textarea {
          border: 0;
          outline: 0;
          margin-bottom: 0;
          background: transparent;
        }
        textarea {
          font-family: "Figtree", sans-serif;
          line-height: 1.7;
          word-spacing: 0.2rem;
          width: 100%;
          font-size: 1rem
        }
      }
      button {
        @include button();
        border-radius: 0.2rem;
        background: $mainColor;
        color: #fff;
        width: 100%;
        margin-bottom: 0.6rem;
        font-weight: 700;
      }
    }
  }
  .save__for__later {
    line-height: 1.5;
    background: rgb(254, 254, 254);
    border: 1px dashed rgb(233, 233, 233);
    padding: 1rem;
    margin: 2.8rem 0;
    h3 {
      display: block;
      @include flexBox(flex-start, center, center);
      gap: 0.4rem;
      margin-bottom: 0.5rem;
      :first-child {
        color: $mainColor;
      }
    }
    .bookmark__btn {
      @include button();
      color: #fff;
      background: #222;
      font-weight: 700;
      padding: 0.5rem 1rem;
      margin-top: 0.7rem;
    }
  }
}

@include mQ(1000px) {
  .property__details {
    margin-bottom: 5rem;
  }
  .property__details__contents {
    flex-direction: column;
  }
  .property__details__contents .left__contents {
    width: 100%;
  }
  .property__details__contents .right__contents {
    width: 100%;
  }
  .property__details__contents .left__contents .property__details__images {
    grid-template-columns: repeat(2, 1fr);
  }
  .property__details__contents .left__contents .contact__info,
  .contact__info__details {
    bottom: 4rem;
  }
}
@include mQ(600px) {
  .property__details__contents .left__contents .left__contents__card {
    flex-direction: column;
    display: block;
    line-height: 2;
    font-size: 0.9rem;
  }
  .property__details__contents .left__contents .left__contents__card.fix {
    line-height: 1.45;
  }
  .property__details .details__links {
    font-size: 0.9rem;
  }
  .property__details .details__links :last-child {
    font-size: 0.88rem;
  }
  .property__details__contents
    .left__contents
    .left__contents__card
    .card__name
    h2 {
    font-size: 1.15rem;
  }
  .property__details__contents
    .left__contents
    .left__contents__card
    .property__location {
    font-size: 1rem;
  }
  .property__details__contents .left__contents .property__details__images {
    gap: 0.1rem;
  }
  .property__details__contents .left__contents .property__details__images img {
    width: 371px;
    border-radius: 0;
  }
  .property__details__contents .left__contents .property__features h2 {
    font-size: 1.2rem;
  }
  .property__details__contents
    .left__contents
    .property__features
    .flex__features {
    grid-template-columns: 1fr;
  }
  .property__details__contents .left__contents .property__description h2 {
    font-size: 1.25rem;
  }
  .property__details__contents .right__contents form {
    font-size: 1.4rem;
  }
  .property__details__contents .right__contents form label input,
  .property__details__contents .right__contents form label textarea {
    font-size: 1rem;
  }
  .property__details__contents .right__contents form p {
    font-size: 0.8rem;
  }
  .property__details__contents .right__contents {
    height: auto;
    border-radius: 0.3rem;
  }
  .property__details__contents .right__contents form button {
    font-size: 1rem;
  }
  .property__details__contents
    .left__contents
    .other__details
    .details__warning {
    padding: 0.2rem 0.4rem;
    line-height: 1.3rem;
    font-size: 0.8rem;
  }
}

@include mQ(500px) {
  .property__details {
    margin-bottom: 0;
  }
  .property__details__contents
    .left__contents
    .contact__info
    .contact__info__details
    .admins {
    gap: 1.7rem;
  }
  .property__details__contents
    .left__contents
    .contact__info
    .contact__info__details
    h2 {
    font-size: 1.25rem;
  }
  .property__details__contents
    .left__contents
    .contact__info
    .contact__info__details
    .admins
    a {
    font-size: 1rem;
  }
  .property__details__contents
    .left__contents
    .contact__info
    .contact__info__details
    .admins
    .whatsapp
    :first-child {
    font-size: 1.3rem;
  }
}

@include mQ(380px) {
  .property__details .contacts__bottom__wrapper .contacts__bottom {
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}

@include mQ(350px) {
  .property__details__contents
    .left__contents
    .contact__info
    .contact__info__details
    .admins {
    flex-direction: column;
    display: block;
  }
  .property__details__contents
    .left__contents
    .contact__info
    .contact__info__details
    .admins
    button {
    width: 100%;
  }
  .property__details__contents
    .left__contents
    .contact__info
    .contact__info__details
    .admins
    .admin__one {
    margin-bottom: 1rem;
  }
  .property__details__contents .right__contents {
    padding: 1.5rem 0.6rem;
  }
  .property__details__contents .left__contents .property__details__images img {
    width: 227px;
  }
  .property__details
    .contacts__bottom__wrapper
    .contacts__bottom
    .single__item
    img {
    width: 27px;
    height: 30px;
  }
  .property__details
    .contacts__bottom__wrapper
    .contacts__bottom
    .single__item
    button {
    padding: 0.1rem 0.3rem;
  }
  .property__details .contacts__bottom__wrapper .contacts__bottom {
    justify-content: flex-start;
    padding: 1rem 0;
    gap: 2rem;
  }
  .property__details__contents
    .left__contents
    .contact__info
    .contact__info__details
    .admins
    .admin__two {
    margin-bottom: 1.4rem;
  }
  .property__details__contents .left__contents .other__details {
    font-size: 0.9rem;
  }
}
