@import "../../global_styles/global.scss";

.similar__properties {
  margin-top: 1rem;
  .similar__properties__contents {
    h3 {
      padding-top: 1.1rem;
      border-top: 1px solid rgb(169, 169, 169);
    }
    .similar__properties__details {
      padding: 0.3rem 1.3rem;
      max-width: 400px;
      img {
        width: 100%;
        object-fit: cover;
        border-radius: 0.3rem;
      }
      h2 {
        font-size: 1.15rem;
        font-weight: 700;
      }
      .similar__list {
        p {
          @include flexBox(flex-start, center, row);
          gap: 0.2rem;
          margin: 0.3rem 0;
          font-weight: 600;
          :first-child {
            font-size: 1.4rem;
          }
        }
      }
      ul {
        li {
          list-style: none;
          font-size: 0.9rem;
          font-weight: 600;
          @include flexBox(flex-start, center, row);
          gap: 0.4rem;
        }
      }
      .similar__price {
        font-weight: 700;
        font-size: 1rem;
        color: $mainColor;
        border-bottom: 1px solid rgb(169, 169, 169);
      }
    }
  }
  .view__all {
    @include flexBox(center, center, column);
    button {
      @include button();
      background: #333;
      color: #fff;
      font-weight: 700;
      font-size: 1.1rem;
      padding: 0.3rem 0.6rem;
    }
  }
}

@include mQ(980px) {
  .similar__properties .similar__properties__contents .md__property__grid {
    @include grid(repeat(2, 1fr), 0rem);
  }
  .similar__properties
    .similar__properties__contents
    .similar__properties__details
    .similar__price {
    border-bottom: 0;
  }
  .similar__properties
    .similar__properties__contents
    .similar__properties__details {
    line-height: 2;
  }
}

@include mQ(600px) {
  .similar__properties .similar__properties__contents .md__property__grid {
    @include grid(1fr, 0rem);
  }
  .similar__properties
    .similar__properties__contents
    .similar__properties__details
    .similar__price {
    border-bottom: 1px solid rgb(169, 169, 169);
  }
  .similar__properties
    .similar__properties__contents
    .similar__properties__details
    h2 {
    font-size: 1rem;
  }
  .similar__properties
    .similar__properties__contents
    .similar__properties__details
    .similar__list {
    grid-template-columns: 1fr;
    line-height: 2.2;
  }
  .similar__properties
    .similar__properties__contents
    .similar__properties__details
    ul
    li {
    font-size: 0.9rem;
  }
  .similar__properties
    .similar__properties__contents
    .similar__properties__details
    .similar__price {
    font-size: 1.1rem;
  }
  .similar__properties
    .similar__properties__contents
    .similar__properties__details {
    padding: 0.3rem 0rem;
    line-height: 1.2;
  }
  .similar__properties
    .similar__properties__contents
    .similar__properties__details
    img {
    height: 250px;
  }
  .similar__properties
    .similar__properties__contents
    .similar__properties__details::-webkit-scrollbar {
    display: none;
  }
}
