@import "../../global_styles//global.scss";

footer {
  background: #111;
  color: #fff;
  margin-top: 9rem;
  .footer__contents {
    text-align: center;
  }
}

// @include mQ(900px) {
//   footer {
//     position: fixed;
//     bottom: 4rem;
//     width: 100%;
//   }
// }
