@import "../../global_styles//global.scss";

footer {
  background: #111;
  color: #fff;
  margin-top: 4rem;
  .footer__contents {
    text-align: center;
    @include container();
    .footer__Links {
      margin-bottom: 1rem;
      padding-top: 1rem;
      ul {
        @include flexBox(center, center, row);
        gap: 1.7rem;
        li {
          list-style: none;
          a {
            color: #fff;
            font-size: 1.5rem;
          }
        }
        .whatasapp__link {
          background: 0;
          cursor: pointer;
          border: 0;
          outline: 0;
          color: #fff;
          font-size: 1.5rem;
        }
      }
    }

    i {
      font-weight: 600;
    }
  }
  .rights {
    text-align: center;
    font-weight: 600;
  }
}

@include mQ(600px) {
  footer .footer__contents .footer__Links ul li a,
  footer .footer__contents .footer__Links ul .whatasapp__link {
    font-size: 1.2rem;
  }
  footer .footer__contents i,
  footer .rights {
    opacity: 0;
  }
  footer .footer__contents .footer__Links {
   display: none;
  }
}

@include mQ(350px) {
  footer .footer__contents .footer__Links ul li a,
  footer .footer__contents .footer__Links ul .whatasapp__link {
    font-size: 1rem;
  }
  footer .footer__contents .footer__Links {
    margin-bottom: 1.2rem;
    padding-top: 0.5rem;
  }
}
