@import "../../../global_styles/global.scss";

.blog__header {
  background-color: #0c0c0c;
  text-align: center;
  .blog__header__wrapper {
    // @include flexBox(space-between, center, row);
    @include container();
    padding: 0.7rem 0;
  }
  .blog__header__logo {
    @include flexBox(center, center, row);
    text-align: center;
    gap: 0.4rem;
    img {
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }
    h2 {
      font-weight: 700;
      color: #fff;
      font-family: "Poppins", sans-serif;
      // span {
      //   color: $mainColor;
      // }
    }
  }
  .blog__menu {
    color: #fff;
    .menu__icon {
      font-size: 1.8rem;
      cursor: pointer;
    }
  }
  a.active {
    font-weight: 700;
    font-size: 1.1rem;
  }

  .blog__header__social__links {
    color: #fff;
    ul {
      display: flex;
      gap: 2rem;
      animation: slide-left 0.5s ease;
      li {
        list-style: none;
        font-size: 1.5rem;
        cursor: pointer;
        a {
          color: #fff;
        }
      }
    }
  }
}

@include mQ(600px) {
  .blog__header .blog__header__wrapper {
    justify-content: space-between;
    padding: 0.7rem 1rem;
  }
  .blog__header .blog__header__logo a h2 {
    font-size: 1rem;
  }
  .blog__header .blog__header__logo img {
    width: 60px;
    height: 60px;
  }
  .blog__header .blog__header__social__links ul li {
    font-size: 1.3rem;
  }
}

@include mQ(550px) {
  .blog__header .blog__header__wrapper {
    padding: 0.7rem 0.7rem;
  }
  .blog__header .blog__header__logo img {
    width: 50px;
    height: 50px;
  }
  .blog__header .blog__header__social__links ul li {
    font-size: 1.1rem;
  }
  .blog__header .blog__header__logo {
    gap: 0rem;
  }
  .blog__header .blog__header__social__links ul {
    display: flex;
    gap: 1rem;
    animation: slide-left 0.5s ease;
  }
}
