@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Mukta:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Rubik+Moonrocks&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Slab:wght@200;300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&family=Nunito&family=Roboto+Slab:wght@200;300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap");


/* lato */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&family=Lato:wght@300;400;700&family=Merriweather:wght@300;400;700&family=Montserrat:wght@200;300;400;500;600;700&family=Nunito&family=Roboto+Slab:wght@200;300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
   transition: 0.5s ease;
}
html {
  scroll-behavior: smooth;
  transition: 0.5s ease;
}
body {
  /* font-family: "Mukta", sans-serif; */
  /* font-family: "Figtree", sans-serif; */
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #222;
  line-height: 1.5;
  scroll-behavior: smooth;
  transition: 0.5s ease;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
a {
  color: #333;
  text-decoration: none;
}
input {
  font-family: 'Lato', sans-serif;
}
.alert {
  color: #fff;
  width: 100%;
  text-align: left;
  font-weight: 700;
  margin-bottom: 1rem;
  padding: 0.2rem;
  border-radius: 3px;
}
.error {
  color: crimson;
}
.message {
  color: green;
}

/* @media (max-width: 500px) {
  body {
    font-size: 1rem;
  }
} */
