@import '../../global_styles/global.scss';

.admin__only {
    @include container();
    @include flexBox(center, center, column);
    text-align: center;
    h2 {
        margin-bottom: .5rem;
    }
    p {
        font-weight: 600;
    }
    button {
        @include button();
        background: transparent;
        color: #222;
        border: 1px solid #222;
        font-weight: 700;
        font-size: 1.1rem;
        padding: .4rem .6rem;
    }
}